.bg-video {
  z-index: -10;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: auto;
    height: 100%;
    z-index: -10;
  }
}

@media (max-width: 767px) {
  .bg-video {
    display: none;
  }
  .body-bg {
    background-image: url(../images/fondo.jpeg);
    background-position: top;
  }
}

.inicio-title {
  font-family: "Dancing Script", sans-serif;
  font-size: 15rem;
  color: white;
  background-color: rgba(192, 189, 189, 0.911);
  border-radius: 20%;
  overflow: hidden;
  padding: 1rem;
  border-radius: 40px;
  animation: from-top 2s ease;
}

@media (max-width: 767px) {
  .inicio-title {
    font-size: 5rem;
  }
}

.bg-grey {
  background-color: gray;
}
