.redes--size {
  width: 15rem;
  padding: 1rem;
}

.animate__animated.animate__swing {
  -webkit-animation-iteration-count: 0;
  animation-iteration-count: 0;
}

.animate__animated.animate__swing:hover {
  -webkit-animation-iteration-count: 10;
  animation-iteration-count: 10;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.bg-redes {
  background-image: url(../images/fondo-redes.jpeg);
  background: cover;
}

.cel-size {
  width: 45rem;
  height: auto;
}

@media (max-width: 1280px) {
  .cel-size {
    width: 38.5rem;
    height: auto;
  }
}

@media (max-width: 450px) {
  .cel-size {
    width: 37rem;
    height: auto;
  }
}
