.subtitle-gradient {
  background-image: linear-gradient(to right, grey, white);
  z-index: 1;
}

.subtitle-sticky {
  top: 4.8rem;
}

@media (max-width: 767px) {
  .subtitle-sticky {
    top: 4.4rem;
  }
}

.card-size {
  max-width: 335px;
  max-height: fit-content;
  .img-size {
    max-width: 33.3rem;
    max-height: 27.3rem;
  }
}
