$colorcomerce: rgb(228, 135, 135);

.bg-pink {
  background-color: $colorcomerce;
}

$titulos: 1;
$ancho: 290px;

@for $titulos from 1 through 4 {
  .titulo-#{$titulos} {
    background-image: url(../images/titulo#{$titulos}.jpg);
    background-position: center;
    background-size: cover;
    width: $ancho;
    height: $ancho/1.5;
    border: 2px solid grey;
  }
}

$redes: (
  instagram: rgb(214, 62, 214),
  facebook: #3a5795,
  whatsapp: rgb(62, 233, 62),
);

@each $red, $color in $redes {
  .icon-#{$red}:hover {
    color: $color;
    transform: scale(1.5, 1.5);
  }
}
